{% extends 'base.html' %}

{% block title %}
    Chat Page
{% endblock %}

{% block content_title %}
  Chat
{% endblock %}

{% block content %}

    <div class="card">
        <ul id="messages" class="list-group list-group-flush">
            <li class="list-group-item"><b>Be nice in chat! (Do not say 'foe' or 'bar')</b></li>

            {% for msg in msgs %}

            <li class="list-group-item">
                {% set display_msg = msg.sender + ': ' + msg.text %}
                
                {% if msg.category == 'alert' %}
                <b> {{ display_msg }} </b>

                {% elif msg.category == 'alert' %}
                <i> {{ display_msg }} </i>

                {% else %}
                {{ display_msg }}

                {% endif %}
            </li>

            {% endfor %}

        </ul>

        <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" id="msg" style="height: 100px"></textarea>
            <label for="floatingTextarea2">Message:</label>
        </div>
        <button class="btn btn-outline-dark" id="send-btn" type="submit">Send</button>

    </div>

    <script>
        const sender = "{{ session.get('username', 'Guest') }}"
    </script>
    <script src="{{ url_for('static', filename='js/my_chat.js') }}"></script>

    <script>
        
    </script>

{% endblock %}