{% extends 'base.html' %}

{% block title %}
    Greetings Page
{% endblock %}

{% block content_title %}
  Hello Wanderer!
{% endblock %}

{% block content %}

<div class="container">
  <p>
    Eazy API suggests free data on fake users and fake locations. However, our company does not grant boundless access to our servers. Users can have only 100 request per 24 hours. 
  </p>
  <p>
    Luckily, we grant limitless acccess to our API for users with Premius subscription.
  </p>
  <p>
    Premium subscription and pricing can be found on 'Pricing' tab above.
  </p>
</div>
<br>


<figure class="figure">
  <img src="{{ url_for('static', filename='img/example.svg') }}" class="figure-img img-fluid rounded" alt="Hopefully, no one will reveal that I am into elephants">
  <figcaption class="figure-caption">Yes, this is a cool picture</figcaption>
</figure>

{% endblock %}